@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@import "./components/sidebar.scss";
@import "./components/header.scss";
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /*IE and Edge */
        scrollbar-width: none; /*Firefox */
    }

    .is-invalid {
        @apply focus:ring-red-600 focus:border-red-600 border-red-400;
    }

    .is-valid {
        @apply focus:ring-blue-600 focus:border-blue-600 border-gray-300;
    }
}
